CONTENT_API_URL=http://127.0.0.1:8000/v1/chat/completions
CONTENT_API_MODEL=deepseek-expert
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=G-BNF8CJG38R
NEXT_PUBLIC_GOOGLE_ADS_ID=AW-18103640487
NEXT_PUBLIC_GOOGLE_ADS_CONVERSION_LABEL=NCGWCIzC2J4cEKfDvrhD
